<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DDM_NATIVO_20242"
        tools:targetApi="31">
        <activity
            android:name=".sensores.exemplos.ListarSensoresDisponiveis"
            android:exported="true">
        </activity>
        <activity
            android:name=".sensores.exemplos.ExSensores"
            android:exported="true" >
        </activity>
        <activity
            android:name=".sensores.localizacao.ExGPS"
            android:exported="true" >
        </activity>
        <activity
            android:name=".persistencia.arquivos.ExArquivos"
            android:exported="true" >

        </activity>
        <activity
            android:name=".comunicacao.bluetooth.ExBluetooth"
            android:exported="true" >

        </activity>
        <activity
            android:name=".persistencia.banco_dados.ExBD"
            android:exported="true" >

        </activity>
        <activity
            android:name=".comunicacao.http.ExREST"
            android:exported="true"
            android:usesCleartextTraffic="false" >

        </activity>
        <activity
            android:name=".comunicacao.http.atualizar_ui.TelaAcessoAPI"
            android:exported="true" >
            <intent-filter>
                <action android:name="Baixar Dados HUC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".comunicacao.http.atualizar_ui.TelaInicial"
            android:exported="true" >

        </activity>
        <activity
            android:name=".comunicacao.soquete.tcp.Cliente"
            android:exported="true" >

        </activity>

        <activity
            android:name=".threads.ExThread"
            android:exported="true" >

        </activity>
        <activity
            android:name=".threads.exemplo_01.ExThreadInicial"
            android:exported="true" >

        </activity>
        <activity
            android:name=".threads.exemplo_handler.ExemploHandler"
            android:exported="true" >

        </activity>
        <activity
            android:name=".threads.mensagem_handler.MensagemHandler"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".intencoes.ExLogado_Ex5"
            android:exported="true" >
            <intent-filter>
                <action android:name="Chamar Tela Saudacao" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intencoes.ExIntent_Ex1"
            android:exported="true" >

        </activity>
        <activity
            android:name=".intencoes.ExLogin_Ex5"
            android:configChanges="orientation"
            android:exported="true" >

        </activity>
        <activity
            android:name=".intencoes.EscolherContatoNovo_Ex2"
            android:exported="true" >

        </activity>
        <activity
            android:name=".intencoes.TelaRecebeParametros_Ex4"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.example.graco.exintent.Tela" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intencoes.TelaEnviaParametros_Ex4"
            android:exported="true" >

        </activity>
        <activity
            android:name=".intencoes.AbrirTela_Ex3"
            android:exported="true" >

        </activity>
        <activity
            android:name=".intencoes.TelaASerAberta_Ex3"
            android:exported="true" >
            <intent-filter>
                <action android:name="ABRIR_TELA2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intencoes.EscolherContatoAntigo_Ex2"
            android:exported="true" >
            <intent-filter>
                <action android:name="ABRIR_TELA2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".componente_customizado_baixo_nivel.ComponenteCustomizadoBaixoNivel"
            android:exported="true" >

        </activity>
        <activity
            android:name=".interface_grafica.ExemploLayout"
            android:exported="true" >
        </activity>
        <activity
            android:name=".introducao.CicloDeVidaAtividadeLOG"
            android:exported="true" >

        </activity>
    </application>

</manifest>